<div class="modal-header">
  <h4 *ngIf="!userId" class="modal-title">New User</h4>
  <h4 *ngIf="userId" class="modal-title">Edit User</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form class="m-form" [ngClass]="{'m-loader m-loader--primary m-loader--lg':loading}" (ngSubmit)="save()" [formGroup]="userForm"
  novalidate="">
  <ng-container trillLoader [loading]="saving" [showMessage]="true"></ng-container>
  <div class="modal-body">
    <ngb-alert type="danger" *ngIf="errorMsg" (close)="errorMsg=null">{{ errorMsg }}</ngb-alert>
    <mat-tab-group>
      <mat-tab label="User informations">
        <div class="row">
          <div class="col-sm-3 text-center m--margin-bottom-15 m--margin-top-15">
            <img class="img-thumbnail img-rounded" height="115" width="115" src="./assets/app/media/img/misc/default-profile-picture.png">
          </div>
          <div class="col-sm-9">
            <mat-form-field>
              <input matInput placeholder="Enter First Name" formControlName="firstName" required>
              <mat-error align="start" *ngIf="f.firstName.hasError('required')" class="form__error">First Name is required</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Enter Last Name" formControlName="lastName" required>
              <mat-error align="start" *ngIf="f.lastName.hasError('required')" class="form__error">Last Name is required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <mat-form-field>
          <input matInput autocomplete="off" placeholder="Enter User Name" formControlName="username" required>
          <mat-error align="start" *ngIf="f.username.hasError('required')" class="form__error">Username is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput autocomplete="off" placeholder="Enter Email" formControlName="email" required>
          <mat-error align="start" *ngIf="f.email.hasError('required')" class="form__error">Email is required</mat-error>
          <mat-error align="start" *ngIf="f.email.hasError('pattern')" class="form__error">Email is not valid</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Enter Phone Number" formControlName="phoneNumber" required>
          <mat-error align="start" *ngIf="f.phoneNumber.hasError('required')" class="form__error">Phone Number is required</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="!userId">
          <input matInput autocomplete="off" placeholder="Enter Password" [type]="revealPassword ? 'text' : 'password'" formControlName="password"
            required>
          <mat-icon matSuffix (click)="revealPassword = !revealPassword">
            <i class="fa" [ngClass]="{'fa-eye-slash':revealPassword, 'fa-eye':!revealPassword}"></i>
          </mat-icon>
          <mat-error align="start" *ngIf="f.password.hasError('required')" class="form__error">Password is required</mat-error>
        </mat-form-field>
        <div *ngIf="!userId" class="m-checkbox-list">
          <mat-checkbox color="primary" formControlName="isTemporaryPassword">Should change password on next login.</mat-checkbox>
        </div>
        <div class="m-checkbox-list">
          <mat-checkbox color="primary" matTooltip="Account activation email will be send to the user" formControlName="sendActivationEmail">Send Activation Email</mat-checkbox>
        </div>
        <div class="m-checkbox-list">
          <mat-checkbox color="primary" formControlName="lockoutEnabled">Lockout Enabled</mat-checkbox>
        </div>
        <div class="m-checkbox-list">
          <mat-checkbox color="primary" formControlName="isActive">Is Active</mat-checkbox>
        </div>
      </mat-tab>
      <mat-tab label="Roles">
        <ng-container *ngIf="roles.length">
          <div formGroupName="roles">
            <div class="m-checkbox-list" *ngFor="let role of roles">
              <mat-checkbox color="primary" [formControlName]="role.id"> {{role.name}}</mat-checkbox>
            </div>
          </div>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="modal-footer">
    <button mat-raised-button matTooltip="Cancel changes" type="button" (click)="activeModal.dismiss()">Cancel</button>
    <button [disabled]="loading" mat-raised-button color="primary" matTooltip="Save changes" type="submit">Save</button>
  </div>
</form>