<!-- BEGIN: Subheader -->
<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto col-xs-6">
      <h3 class="m-subheader__title m-subheader__title--separator"> My Profile </h3>
      <span class="m-section__sub">Account user account page</span>
    </div>
  </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
  <div class="row">
    <div class="col-xl-3 col-lg-4">
      <div class="m-portlet m-portlet--full-height">
        <div class="m-portlet__body">
          <div class="profile-userpic">
            <img src="../assets/app/media/img/misc/default-profile-picture.png" class="img-responsive" alt="">
          </div>
          <div class="profile-usertitle">
            <div class="profile-usertitle-name"> Marcus Doe </div>
            <div class="profile-usertitle-job"> Developer </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-lg-8">
      <div class="m-portlet m-portlet--full-height">
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <span class="user-tab-icon text-info">
                <i class="fa fa-info-circle"></i>
              </span>
              Personal Info
            </ng-template>
            <div class="p-2">
              <form class="m-form" [ngClass]="{'m-loader m-loader--primary m-loader--lg':infoLoading}" (ngSubmit)="save()" [formGroup]="infoForm"
                novalidate="">
                <div class="col-12">
                  <ng-container trillLoader [loading]="savingInfo" [showMessage]="true"></ng-container>
                  <ngb-alert type="danger" *ngIf="infoErrorMsg" (close)="infoErrorMsg=null">{{ infoErrorMsg }}</ngb-alert>

                  <mat-form-field>
                    <input matInput placeholder="First Name" formControlName="firstName" required>
                    <mat-error align="start" *ngIf="infoF.firstName.hasError('required')" class="form__error">First Name is required</mat-error>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput placeholder="Last Name" formControlName="lastName" required>
                    <mat-error align="start" *ngIf="infoF.lastName.hasError('required')" class="form__error">Last Name is required</mat-error>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput autocomplete="off" placeholder="User Name" formControlName="username" required>
                    <mat-error align="start" *ngIf="infoF.username.hasError('required')" class="form__error">Username is required</mat-error>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput autocomplete="off" placeholder="Email" formControlName="email" required>
                    <mat-error align="start" *ngIf="infoF.email.hasError('required')" class="form__error">Email is required</mat-error>
                    <mat-error align="start" *ngIf="infoF.email.hasError('pattern')" class="form__error">Email address is not valid</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Phone Number" formControlName="phoneNumber" required>
                    <mat-error align="start" *ngIf="infoF.phoneNumber.hasError('required')" class="form__error">Phone Number is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="m-form__actions">
                  <div class="row">
                    <div class="col-2"></div>
                    <div class="col-7">
                      <button mat-raised-button matTooltip="Cancel changes" type="button">Cancel</button>
                      &nbsp;&nbsp;
                      <button [disabled]="infoLoading" mat-raised-button color="primary" matTooltip="Save changes" type="submit">Save</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <span class="user-tab-icon text-info">
                <i class="fa fa-picture-o"></i>
              </span>
              Change Avatar
            </ng-template>
            <div class="p-2">
              Content 2
            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <span class="user-tab-icon text-danger">
                <i class="fa fa-lock"></i>
              </span>
              Change Password
            </ng-template>
            <div class="p-2">
              <form class="m-form" (ngSubmit)="changePassword()" [formGroup]="pwdForm" novalidate="">
                <ng-container trillLoader [loading]="savingPwd" [showMessage]="true"></ng-container>
                <div class="col-12">
                  <ngb-alert type="danger" *ngIf="pwdErrorMsg" (close)="pwdErrorMsg=null">{{ pwdErrorMsg }}</ngb-alert>

                  <mat-form-field>
                    <input matInput autocomplete="off" placeholder="Current Password" type="password" formControlName="currentPassword" required>
                    <mat-error align="start" *ngIf="pwdF.currentPassword.hasError('required')" class="form__error">Current Password is required</mat-error>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput autocomplete="off" placeholder="New Password" type="password" formControlName="newPassword"
                      required>
                    <mat-error align="start" *ngIf="pwdF.newPassword.hasError('required')" class="form__error">New Password is required</mat-error>
                    <mat-error align="start" *ngIf="pwdF.newPassword.hasError('matchFields')" class="form__error">New Password must match</mat-error>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput autocomplete="off" placeholder="Re-type New Password" isEqual="newPassword" type="password" formControlName="confirmPassword"
                      required>
                    <mat-error align="start" *ngIf="pwdF.confirmPassword.hasError('matchFields')" class="form__error">Confirm Password must match</mat-error>
                  </mat-form-field>
                </div>
                <div class="m-form__actions">
                  <div class="row">
                    <div class="col-2"></div>
                    <div class="col-7">
                      <button mat-raised-button matTooltip="Cancel changes" type="button">Cancel</button>
                      &nbsp;&nbsp;
                      <button mat-raised-button color="primary" matTooltip="Save changes" type="submit">Save</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>