<!-- BEGIN: Subheader -->
<div class="m-subheader" >
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Dashboard
			</h3>
			<span class="m-section__sub"> statistics and reports </span>
		</div>		
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	 <!--Begin::Section-->
	<div class="m-portlet">
		<div class="m-portlet__body">
			<div class="row m-row--col-separator-xl">
				<div class="col-xl-12">
					<div class="jumbotron">
						<h1>{{appTitle}}</h1>
						<p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes
							the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
						<p>To see the difference between static and fixed top navbars, just scroll.</p>
					</div>
				</div>				
			</div>
		</div>
	</div>	
</div>
